.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.contents {
    display: flex;
    flex-wrap: wrap;
}

.content {
    line-height: 1.6;
    margin: 30px;
    width: 45%;
    max-height: 800px;
    background-color: aqua;
    height: auto;
    border-radius: 10%;
}

.content p {
    margin-bottom: 50px;
}

.content_2 {
    line-height: 1.6;
    margin: 36px;
    width: 45%;
    background-color: aqua;
    border-radius: 10%;
    height: auto;
    margin-bottom: 60px;
}

.content_2 p {
    margin-bottom: 40px;
}

.container {
    display: flex;
    margin-bottom: 30px;
}

.container p {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    font-size: 24px;
    background-color: azure;
    margin: 10px 10px;
}

.container img {
    width: 30%;
    margin: 20px 20px;
    align-self: flex-start;
}

h2 {
    position: relative;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    text-align: center;
    margin: 20px;
}

h2:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #a8d4ff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.white {
    height: 50px;
    background-color: #fff462;
}

.garden {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    width: 100%;
    background-color: #fff462;
}

.garden::after {
    content: '';
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom right, transparent, transparent 50%, #33ff99 50%, #33ff99);
}

.scc {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    width: 100%;
    background-color: #33ff99;
}

.scc::after {
    content: '';
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom right, transparent, transparent 50%, #006699 50%, #006699);
}

.auditorium {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    width: 100%;
    background-color: #006699;
}

.auditorium::after {
    content: '';
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom right, transparent, transparent 50%, #990066 50%, #990066);
}

.club {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    width: 100%;
    background-color: #990066;
}

.ribbon {
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 7px 0;
    font-size: 18px;
    background: #acd879;
    color: #FFF;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 80%;

}

.ribbon p {
    margin: 0;
    padding: 0 30px;
    border-top: dashed 2px rgba(255, 255, 255, 0.5);
    border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
    line-height: 42px;
    text-align: center;
    font-size: 32px;
}

.ribbon:before, .ribbon:after {
    position: absolute;
    content: '';
    width: 0px;
    height:  eight: 0px;
    z-index: 1;
}

.ribbon:before {
    /*左の山形*/
    top: 0;
    left: 0;
    border-width: 30px 0px 30px 15px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}

.ribbon:after {
    /*右の山形*/
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}
